<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
		
	<bean id="spel_phone" class="us.supercheng.spring4.spel.entity.Phone" p:name="#{'iPhone 7'}" p:brand="#{'Apple'}" p:areaName="Shijiazhuang" >
	</bean>
	
	<bean id="spel_car" class="us.supercheng.spring4.spel.entity.Car" p:brand="BMW" p:name="428" p:msrp="#{500000}" p:topSpeed="#{T(java.lang.Math).PI * 100}">
	</bean>
	
	<bean id="spel_person" class="us.supercheng.spring4.spel.entity.Person" p:name="KingKong" p:currentAddress="#{spel_phone.areaName}"
	p:info="#{spel_car.msrp > 300000 ? 'Car Lover' : 'Normal Driver'}" p:myCar="#{spel_car}">
	</bean>
</beans>