<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="us.supercheng.spring4.entity.Person">
		<property name="name" value="Spring4"></property>
	</bean>
	
	<bean id="car1" class="us.supercheng.spring4.entity.Car">
		<constructor-arg value="BMW" index="1" type="java.lang.String"/>
		<constructor-arg value="335i" index="0" />
		<constructor-arg value="45000.00" />
	</bean>
	
	
	<bean id="car2" class="us.supercheng.spring4.entity.Car">
		<constructor-arg value="BMW" />
		<constructor-arg value="X5" />
		<constructor-arg value="260" type="int"  />
	</bean>

</beans>
