<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:property-placeholder location="classpath:DB.properties"/>

	<bean id="phone" class="us.supercheng.spring4.entity.Phone" p:brand="Apple" p:name="iPhone 7">
	</bean>
	
	<bean id="laptop" class="us.supercheng.spring4.entity.Laptop" p:brand="Apple" p:name="MacBook Pro 15 with Retina Display">
	</bean>
	
	<!-- 
	<bean id="backpack" class="us.supercheng.spring4.entity.Backpack" p:brand="Butterfly" p:phone-ref="phone" p:laptop-ref="laptop">
	</bean>
 	-->
 	<!-- autowire byName using setter methods with bean id name if not found then null -->
 	<!-- autowire byType will throw exception if 2 same classes found so singleton only -->
 	<!-- autowire: either byName or byType cannot be both -->
 	<bean id="backpack" class="us.supercheng.spring4.entity.Backpack" p:brand="Butterfly" autowire="byType"></bean>
 	
 	<bean id="dbSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  destroy-method="close">
 	 	<property name="user" value="${user}"></property>
 		<property name="password" value="${password}"></property> 		
 		<property name="driverClass" value="${driverClass}"></property>
 		<property name="jdbcUrl" value="${jdbcUrl}"></property>
 		<property name="maxPoolSize" value="${maxPoolSize}"></property>
 		<property name="minPoolSize" value="${minPoolSize}"></property>
 	</bean>
 	
</beans>